<!doctype html>

{% include head.html %}

    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="main {{page.slug | downcase | escape}}">

          {% include menu.html %}

          <div class="main-container">
              <div class="wrapper clearfix">
                <h1><span><a href="{{ '/portfolio/' | relative_url }}">Portfolio</a> /</span> {{page.title}}</h1>
                <p class="intro">{{ page.intro | escape }}</p>

                <div class="cards">

                  {% assign works = site.categories[page.slug] | sort: "madein" | reverse %}

                  {% for post in works %}
                  <div class="preview">
                    <div class="content">
                      <h2>
                        <a href="{{ post.permalink | relative_url}}">
                          {{ post.title | escape }}
                          <p class="brief">{{ post.brief | escape }}</p>
                          <p class="madein">Made in {{ post.madein | escape }}</p>
                        </a>
                      </h2>

                      <img src="{{ post.cover | relative_url }}" alt="{{ post.title | escape }}">

                    </div>
                  </div>
                  {% endfor %}

                </div> <!-- #cards -->

              </div> <!-- #wrapper -->
          </div> <!-- #main-container -->

          <div class="push"></div>
        </div> <!-- #main-->

        {% include footer.html %}

    </body>
</html>
