.profile {
  margin: 40px 0 20px;

  .avatar {
    img {
      width: 100%;
    }
  }

  .message-btn, .friend-btn {
    text-align: center;
    margin: 20px 0;

    button {
      width: 100%;
    }
  }

  .info {
    padding-left: 10px;
    font-size: 16px;

    &>div {
      margin: 5px 0;
    }

    .head {
      font-weight: 800;
      margin-right: 10px;
    }
  }
}

#sendMessageModal textarea{
  height: 200px;
}
